html 
    head 
        title BadAuthentication
        style 
            include ./public/css/sql.css
    body
        a(href = "/",class="buttonSubmit") Home
        div(class = "content")
            h1 Login 
            form(action='/login', method='post' class='form')
                div(class="row")
                    label(for="enable" style="font-size:28px;") Protection against Bad Authentication enabled
                    input(type="checkbox" name="enable" id="enable" class="checkbox-input")
                div(class="row")
                    label(for="email") Email 
                    input(type = "text", id = "email", name = "email", placeholder="Enter email" required)
                div(class="row")
                    label(for = "pass") Password
                    input(type = "password", id = "pass", name = "pass", placeholder="Enter password" required)
                div(class="row")
                    .g-recaptcha(data-sitekey=siteKey, id='recaptcha' style='display:none;')
                    input(type="submit", class = 'buttonSubmit' id="btnSubmit", value="Submit" disabled=attempts==5) 
            p Email and password in database: ivan@gmail.com, I2va54n#
            p Protection of authentification is enabled using Captcha, using tokens, encrypting data, alert messages 
            p Number of failed attempts is 5 when protection is enabled, return home to enable the button again
    script(src="https://www.google.com/recaptcha/api.js" async defer)
    script.
        window.alertMess = "#{alertMess}";
    script 
        include ./public/js/auth.js
    


    
    
  
        