html 
    head 
        title LogIn
        style 
            include ./public/css/home.css
    body
        div(class = "content")
            h1 Security
            h2  
                a(href='/sql', class = 'button') Sql Injection 
            h2 
                a(href='/badAuth',class = 'button') Bad Authentication