html 
    head 
        title Show
    body
        h1 Info 
        hr
        if protect
            h3 Email
            h4=row.email 
            hr
            h3 Password hash
            h4=row.password_hash
            hr
            h3 Salt
            h4=row.salt 
            hr
            h3 Name
            h4=row.name
            hr
        else 
            h3 Email
            h4=row.email 
            hr
            h3 Password
            h4=password 
            hr
            h3 Name
            h4=row.name
            hr
        a(href='/') Home
