html 
    head 
        title SqlInjection
        style 
            include ./public/css/sql.css
    body
        a(href = "/",class="buttonSubmit") Home
        
        div(class = "content")
            h1(style="font-size: 48px;") Search for your information
            form(action='/', method="post", class="form", onsubmit="return validateForm();")
                div(class="row")
                    label(for="enable" style="font-size:28px;") Protection for SQL injection enabled
                    input(type="checkbox" name="enable" id="enable" class="checkbox-input")
                div(class="row")
                    label(for="email") Email 
                    input(type = "text", id = "email", name = "email", placeholder="Enter email" required)
                div(class="row")
                    label(for = "pass") Password
                    input(type = "password", id = "pass", name = "pass", placeholder="Enter password" required)
                div(class="row")
                    input(type="submit", class = 'buttonSubmit' id="btnSubmit", value="Submit") 
            if rows && rows.length > 0
                table 
                    tr 
                        th Email
                        th Password
                        th Name 
                    each item in rows 
                        tr 
                            th=item.email 
                            th=item.password 
                            th=item.name
            p SQL-injectiona command that is used: ' OR 1=1;--
            p For protection to be enabled, checkbox has to be purple
            p To try out Email: ivan@gmail.com Password: ivan123
    script 
        include ./public/js/sql.js


