body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5E8C7;
}

h1{
    font-size: 64px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #363062;
    border: 20px solid #363062;
    border-radius: 20%;
    padding: 10vh;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #435585;
    color: #F5E8C7;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition-duration: 0.4s;
  }
  
  .button:hover {
    background-color: #818FB4;
  }