body{
    background-color: #F5E8C7;
}

.content{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #363062;
}

.form{
    font-size: 24px;
    text-align: center;
}

.row{
    display: grid;
    grid-template-rows: auto auto;
    padding: 5px;
}

input{
    color: #F5E8C7;
    background-color: #363062;
    border: #363062 20px solid;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

label{
    font-size: 36px;
    padding-bottom: 5px;
}

.buttonSubmit {
    display: inline-block;
    margin: 10px 0px;
    padding: 20px 20px;
    text-decoration: none;
    background-color: #363062;
    color: #F5E8C7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition-duration: 0.4s;
  }
  
  .buttonSubmit:hover {
    background-color: #818FB4;
    color: #363062;
  }

  .checkbox-input{
    height: 40px;
    width: 40px;
    appearance: none; 
    background-color: #F5E8C7; 
    border: 5px solid #363062; 
    border-radius: 4px; 
    margin: auto;
    
  }
  .checkbox-input:checked{
    background-color: #363062;
  }

  th{
    padding: 0px 10px;
    border: 3px solid #363062;
    font-size: 20px;
    color: #435585;
  }



